:root {
  --background-color-1: #f2f2f2;
  --background-color-2: #d4d4d4;
  --primary-color: #162063;
  --paragraph-color: #222b6b;
  --paragraph-color: #222b6b;
}

@font-face {
  font-family: "Proxima Nova";
  src: asset-url("/src/assets/fonts/proxima_nova/proxima_nova.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: var(--background-color-1);
  width: 100%;
  height: 100%;
  margin: 0;
    overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Proxima Nova", Avenir, Helvetica, Arial, sans-serif;
  color: var(--paragraph-color);
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 50px;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
  transition: all 0.5s ease;
}
