<template>
  <div class="navigation-button-container" @click="handleClick">
    <img
      width="50"
      height="50"
      class="navigation-button"
      :src="ArrowRight"
      :alt="isPrev ? 'navigate-back' : 'navigate-forward'"
      :back="isPrev"
      :disabled="disabled"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ArrowRight from "../../assets/change-arrow.png";
export default defineComponent({
  name: "NavigationButton",
  props: {
    isPrev: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    navigate: (payload: 1 | -1) => {
      return (
        payload && typeof payload === "number" && [1, -1].includes(payload)
      );
    },
  },
  setup(props, { emit }) {
    function handleClick() {
      !props.disabled && emit("navigate", props.isPrev ? -1 : 1);
    }
    return {
      ArrowRight,
      handleClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.navigation-button {
  cursor: pointer;
  &[back="true"] {
    transform: rotateY(180deg);
    &[disabled="false"] {
      &:hover {
        opacity: 0.8;
        transform: rotateY(180deg) scale(1.05);
      }
      &:active {
        transform: rotateY(180deg) scale(0.95);
      }
    }
  }
  &[disabled="false"] {
    &:hover {
      opacity: 0.8;
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  &[disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
</style>
