<template>
  <div class="year_side_bar">
    <ul>
      <li v-for="year in years" @click="selectYear" :key="year">
        {{ year }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "SideTimeLine",
  props: {
    years: {
      type: Array as PropType<number[]>,
      required: true,
    },
    modelValue: {
      type: Number,
      required: true,
    },
  },
  emits: {
    "update:modelValue": (payload: number) => {
      return payload && typeof payload === "number" && payload > 0;
    },
  },
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
