<template>
  <img class="logo" :src="logo" alt="JFM Ideas Logo" />
  <div v-if="shownSlides?.length" class="slides_container">
    <template
      v-for="{
        content,
        title,
        year,
        images,
        index,
        isShown = false,
      } in shownSlides"
      :key="`${index}-${title}`"
    >
      <div
        v-if="isShown"
        :id="`timeline-slide-${index}`"
        :key="`${index}`"
        :index="index"
        :last="index === shownSlides.length - 1"
        :status="getSlideStatus(index)"
        class="single_slide_wrap"
        :style="`z-index: ${(shownSlides?.length - index) * 5}`"
      >
        <slide
          :content="content"
          :images="images"
          :title="title"
          :year="year"
          :index="index"
        ></slide>
      </div>
    </template>
  </div>
  <div class="navigation fixed-bottom d-flex justify-content-around w-full">
    <navigate-direction-button
      :disabled="isPrevDisabled"
      :is-prev="true"
      @navigate="changeSlide"
    />
    <navigate-direction-button
      :disabled="isNextDisabled"
      @navigate="changeSlide"
    />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import NavigateDirectionButton from "./components/side_time_line/NavigateDirectionButton.vue";
import logo from "./assets/logo.png";
import slideData from "./config/slides.json";
import { Animator } from "@/plugins/slider";
import SlideManager from "@/modules/slide-manager";
import Slide from "./components/slide_view/Slide.vue";
import { getSlideReferences } from "@/modules/utilities";
export default defineComponent({
  name: "App",
  components: {
    Slide,
    NavigateDirectionButton,
  },
  setup() {
    const slideManager = new SlideManager(slideData);
    const shownSlides = ref(slideManager.getUpdatedSlideData);
    const currentIndex = ref(slideManager.getCurrentIndex);
    const isPrevDisabled = computed(() => currentIndex.value === 0);
    const isNextDisabled = computed(
      () => currentIndex.value === shownSlides.value.length - 1
    );
    const isAnimating = ref(false);

    const animator = new Animator();

    function getSlideStatus(index: number): string {
      if (index === currentIndex.value) {
        return "current";
      }
      if (index === currentIndex.value + 1) {
        return "next";
      }
      if (index > currentIndex.value) {
        return "far";
      }
      return "previous";
    }

    async function changeSlide(direction: 1 | -1) {
      if (isAnimating.value) return;
      isAnimating.value = true;
      if (direction === 1) {
        await animator.animateNext({
          current: getSlideReferences({ index: currentIndex.value }),
          next: getSlideReferences({ index: slideManager.getNextIndex }),
          secondNext: getSlideReferences({
            index: slideManager.getSecondNextIndex,
          }),
        });
      } else {
        await animator.animatePrev({
          previous: getSlideReferences({
            index: slideManager.getPreviousIndex,
          }),
          current: getSlideReferences({ index: currentIndex.value }),
          next: getSlideReferences({ index: slideManager.getNextIndex }),
          secondNext: getSlideReferences({
            index: slideManager.getSecondNextIndex,
          }),
        });
      }

      slideManager._changeIndex(direction);

      shownSlides.value = Object.assign([], slideManager.getUpdatedSlideData);
      currentIndex.value = slideManager.getCurrentIndex;
      isAnimating.value = false;
    }

    return {
      shownSlides,
      logo,
      isPrevDisabled,
      isNextDisabled,
      changeSlide,
      getSlideStatus,
    };
  },
});
</script>

<style lang="scss">
@import "./src/styles/app.scss";
#timeline-slide-0 {
  left: 0;
}
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  position: fixed;
  top: 27px;
  left: 49px;
  width: 67.8px;
  height: 80px;
  z-index: 1000;
}
.slides_container {
  height: 100%;
}
.single_slide_wrap {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 80%;
  top: 0px;
  padding: 0;
  &[status="previous"] {
    opacity: 0;
    &[index="0"] {
      z-index: 0 !important;
    }
  }
  &[last="true"] {
    width: 100%;
  }
}
</style>
