<template>
  <div
    v-if="images?.length"
    :style="cssVars"
    class="image-selector-container"
    :show-scroll="isScrollShown"
  >
    <ul ref="imagesContainer" class="hs mb-0">
      <li
        v-for="({ url, isActive }, index) in images"
        :key="url"
        :active="isActive"
        class="item"
        :class="`${
          index === 0 ? 'ps-0' : index === images.length - 1 ? 'pe-0' : ''
        }`"
        @click="onOtherImageSelected(url, index, $event)"
      >
        <slide-image
          :is-filter-shown="false"
          :image-source="url"
          :image-name="`${altString}-${index}`"
          is-small
        />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { SelectorImage } from "@/@types";
import { PropType, defineComponent, ref, computed } from "vue";
import SlideImage from "./SlideImage.vue";

export default defineComponent({
  name: "SlideImageSelector",
  components: {
    SlideImage,
  },
  props: {
    images: {
      type: Array as PropType<SelectorImage[]>,
      required: true,
    },
    altString: {
      type: String,
      default: "timeline",
    },
  },
  emits: {
    onImageSelected: (payload: { name: string; index: number }) => {
      return (
        Object.hasOwnProperty.call(payload, "name") &&
        Object.hasOwnProperty.call(payload, "index")
      );
    },
  },
  setup(props, { emit }) {
    const imagesContainer = ref();
    const isScrollShown = computed(() => {
      return (
        props.images?.length > 3 &&
        window.innerWidth / 1.37 < props.images?.length * 100 * 2
      );
    });

    function onOtherImageSelected(name: string, index: number, event: Event) {
      const offset = Math.round((event.target as any).offsetLeft);
      if (imagesContainer.value) {
        (imagesContainer.value as any).scrollTo({
          left: offset - 50 ?? 0,
          behavior: "smooth",
          inline: "center",
        });
      }
      emit("onImageSelected", { name, index });
    }

    const cssVars = {
      "--total": props.images.length,
      "--gutter": "5px",
    };
    return {
      onOtherImageSelected,
      imagesContainer,
      cssVars,
      isScrollShown,
    };
  },
});
</script>

<style lang="scss" scoped>
.hs {
  position: relative;
  display: grid;
  grid-template-columns:
    0 repeat(var(--total), calc(100px - var(--gutter) * 1))
    0;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  transition: all 0.5s ease;
  &:hover {
    overflow-x: auto;
  }
  &,
  img {
    cursor: pointer;
  }
}

.image-selector-container {
  &[show-scroll="true"] {
    padding-bottom: 14px;
    &:hover {
      padding-bottom: 0;
    }
  }
}

.hs:before,
.hs:after {
  content: "";
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--gutter) / 2);
  align-items: center;
  transition: opacity 0.5s;
  &[active="false"] {
    opacity: 30%;
  }
}
</style>
