<template>
  <div
    :id="`slide-content-${index}`"
    class="slide d-flex flex-column justify-content-center"
    :background="index % 2"
  >
    <div class="slide_inner">
      <div class="slide_header mb-4 row">
        <div class="col-12">
          <span class="slide_year">{{ year }}</span>
          <template v-if="title">
            <span> — </span>
            <span class="slide_title">{{ title }}</span>
          </template>
        </div>
      </div>
      <div :id="`timeline-slide-content-${index}`" class="row">
        <div
          v-if="selectedImage"
          class="col-sm-6 col-md-6 col-xs-12 image-container"
        >
          <slide-image :image-source="selectedImage" :image-name="title" />
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="vertical-flex">
            <slide-content
              class="flex-child"
              :content="content"
            ></slide-content>
            <slide-image-selector
              v-if="selectorImages?.length > 1"
              class="flex-child"
              :images="selectorImages"
              :alt-string="title"
              @onImageSelected="handleImageChanged"
            ></slide-image-selector>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, Ref, ref } from "vue";
import SlideImage from "./SlideImage.vue";
import SlideContent from "./SlideContent.vue";
import SlideImageSelector from "./SlideImageSelector.vue";
import { SelectorImage } from "../../@types";

export default defineComponent({
  name: "Slide",
  components: {
    SlideImage,
    SlideContent,
    SlideImageSelector,
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    images: {
      type: Array as PropType<string[] | []>,
      default: () => [],
    },
    title: {
      type: String,
      default: "",
    },
    content: {
      type: Array as PropType<string[]>,
      required: true,
    },
    year: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const selectorImages: Ref<SelectorImage[] | undefined> = ref(
      props.images?.map((image) => ({
        url: image,
        isActive: false,
      }))
    );
    if (selectorImages.value?.length) {
      selectorImages.value[0].isActive = true;
    }

    const selectedImage = ref(props.images?.[0]);

    function handleImageChanged({
      name,
      index,
    }: {
      name: string;
      index: number;
    }) {
      if (!selectorImages.value) {
        return;
      }
      selectorImages.value.forEach((_, index) => {
        if (selectorImages.value) selectorImages.value[index].isActive = false;
      });
      selectedImage.value = name;
      selectorImages.value[index].isActive = true;
    }

    return {
      selectorImages,
      selectedImage,
      handleImageChanged,
    };
  },
});
</script>

<style lang="scss" scoped>
#slide-content-0 {
  padding-left: 200px;
}
.slide_header {
  font-size: 32px;
  line-height: 37px;
  font-weight: 900;
  letter-spacing: -0.444444px;
  color: var(--primary-color);
  width: 100%;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .flex-child {
    width: 100%;
  }
}

.slide {
  padding: 1rem 1rem 1rem 45px;
  overflow: hidden;
  height: 100%;
  &[background="0"] {
    background-color: var(--background-color-1);
  }
  &[background="1"] {
    background-color: var(--background-color-2);
  }
  .slide_inner {
    max-height: 50%;
  }
}
</style>
