<template>
  <div class="slide_image_container" :small="isSmall">
    <transition name="fade" mode="out-in">
      <img
        :key="imageUrl"
        :src="imageUrl"
        class="img-fluid slide_image"
        :filter="isFilterShown"
        :alt="imageName"
      />
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent, Ref, ref, watch } from "vue";

export default defineComponent({
  name: "SlideImage",
  props: {
    imageSource: {
      type: String,
      default: "",
    },
    imageName: {
      type: String,
      default: "Image Name",
    },
    isFilterShown: {
      type: Boolean,
      default: true,
    },
    isSmall: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const imageUrl: Ref<typeof import("*.png") | undefined | string> = ref("");
    async function setImageName(name: string) {
      const { getImageFromName } = await import("../../plugins/image_handler");
      imageUrl.value = await getImageFromName(name);
    }

    watch(
      () => props.imageSource,
      (newValue) => {
        setImageName(newValue);
      },
      { immediate: true }
    );
    return {
      imageUrl,
    };
  },
});
</script>

<style lang="scss" scoped>
.slide_image_container {
  &[small="true"] {
    .slide_image {
      height: 80px;
      width: 105px;
      aspect-ratio: 105 / 80;
    }
  }
}

.slide_image {
  object-fit: cover;
  height: 40vh;
  width: auto;
  aspect-ratio: 616 / 420;
  &[filter="true"] {
    filter: drop-shadow(-30px 42px 64px #a6acb0);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
</style>
