<template>

</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onBeforeUpdate,
  onMounted,
  onUpdated,
  PropType,
  Ref,
  ref,
} from "vue";
import Slide from "../slide_view/Slide.vue";
import { Slide as SlideType } from "../../@types";
export default defineComponent({
  components: {
    Slide,
  },
  props: {
    slides: {
      type: Array as PropType<SlideType[]>,
      required: true,
    },
    modelValue: {
      type: Array as PropType<HTMLDivElement[]>,
    },
  },
  emits: {
    slideDataUpdated: (payload: HTMLDivElement[]) => {
      return payload && payload.length;
    },
  },
  setup(props, { emit }) {
    
    return {
      setSlideRefs,
      shownSlides,
    };
  },
});
</script>

<style lang="scss" scoped>
.slides_container {
  height: 100%;
}
.single_slide_wrap {
  width: 80%;
}


</style>
