<template>
  <div v-if="content?.length" class="slide_content_wrapper">
    <!-- eslint-disable -->
    <p
      v-for="(paragraph, index) in content"
      :key="index"
      class="slide_content"
      v-html="paragraph"
    ></p>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "SlideContent",
  props: {
    content: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
  },
});
</script>

<style lang="scss" scoped></style>
